* {
    box-sizing: border-box;
  }

body {
    display: grid;
    justify-content: center;
    align-content: center;
  }

#main-content {
    background-color: #ADD8E6;
    max-width: 600px;
    text-align: center;
    padding: 15px;
  }
  
.form-controls {
    padding: 5px;
}
