* {
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
  }

#main-content {
    background-color: #ADD8E6;
    max-width: 650px;
    text-align: center;
    padding: 15px;
    margin: 50px auto;
  }

.form-controls {
    padding: 5px;
    font-size: 18px;
}
